/* BEM Naming Convention
.block__element--modifier */

.mainBackground-register {
  position: relative;
  background-color: #fffbdb;
  height: 150vh;
}

.registerPage__h1-text {
  color: green;
}

.textDefaultColor-Register {
  position: relative;
  bottom: 30px;
  color: #9046cf;
}

.btn.btnDefault-register {
  position: relative;
  margin: 1.2rem;
  left: 45px;
  background-color: #adb9e3;
  color: #333;
}
