/* Top-level shared styles */
/* You can keep styles that are shared by different components here */

* {
  box-sizing: border-box;
  margin: 0;
}

/* Main Body */
/* body {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(53, 52, 52);
  background: url('images/background1.jpg') no-repeat center center/cover;
  background-size: cover;
} */

/*Force pages to start underneath the NavigationBar */
.navBarPadding {
  padding-top: 65px;
}

a {
  color: #9370db;
  text-decoration: none;
}

ul {
  list-style: none;
}

.addSmallMargin {
  margin: 1rem;
}

/* Background Colors */
.backgroundBlue {
  background-color: #87cefa;
  color: rgb(37, 37, 37);
}
.backgroundDefault {
  background-color: #9370db;
  color: #333;
}

/* Text Size */
.largeText {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.2rem;
}

/* Text Colour */
.postTitleColour{
  color: #9370db;
}

.informationColour {
  color: #605b4f;
} 
.paragraphColour{
  color: #000000;
}

/* Buttons */
.btn {
  background-color: #eee5e5;
  padding: 0.4rem 1.3rem;
  margin-right: 0.6rem;
  font-size: 1rem;
  color: #333;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in;
}

.btn.btnDefault {
  background-color: #9874e0;
  color: #333;
}

.btn.btnDefault:hover {
  background: #a284e0;
}

.btn:hover {
  background: rgb(251, 251, 251);
}

/* Basic Properties */
.profilePicCircle{
  border-radius: 50%;
}

/* Used in multiple areas */
.containerPosts {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  background-color: white;
  padding-top: 65px;
}

.tagOption{
  border: #000000;
  border-radius: 0.25rem;
  border-style: groove;
  color: #9370db;
  background: white;
}
