.sideBarContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  z-index: 1;
  left: 5px;
  top: 95px;
  overflow: hidden;
  border-radius: 5%;
  padding: 2px 1px 1px 10px;
  left: 240px;
}

.searchBar[type='text'] {
  transition: border-color 0.8s width 0.8s ease-in-out;
}
.searchBar[type='text']:focus {
  border: 1px solid lightblue;
  width: 50%;
}

input[type='checkbox'] {
  background-color: white;
  transition: border-color 0.8s;
}
input[type='checkbox']:focus {
  border-color: lightblue;
}

.tagContent {
  padding: 1rem 1rem 1rem 1rem;
}

.tagCheckbox {
  border-radius: 50%;
}
