/* .alert {
    padding-top: 65px; 
} */

.alert-error {
  background-color: red;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  width: fit-content;
  outline: none;
  box-shadow: 0px 0px 12px 0.8px black;
  position: relative;
  bottom: 50px;
}

.alert-warning {
  background-color: yellow;
}

.alert-success {
  background-color: green;
}
