/* Posts */
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;
  align-items: center;
  margin: 2rem;
  box-shadow: 0px 0px 12px 0.8px black;
}

.circleImgPosts {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  left: 50px;
}

.textDefaultColor-Posts {
  position: relative;
  margin: 0.2rem;
  bottom: 30px;
  color: #9874e0;
}

.userCreateNewPost {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  background-color: rgb(246, 246, 246);
  padding: 1rem;
  box-shadow: 0px 0px 12px 0.8px black;
  position: relative;
}

.postUser {
  color: #9874e0;
  position: relative;
  left: 30px;
}

.inputGroup-Posts {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid black;
}

.regularButton {
  position: relative;
  top: 10px;
}

.btn.btnDefault-posts {
  background-color: #adb9e3;
  color: #333;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 10px;
}

.rightGridPost {
  margin: 1rem;
}

.formPopUp {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10rem;
  width: 50%;
  height: 30%;
  overflow: auto;
  margin: auto;
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: #eee5e5;
  box-shadow: 0px 0px 12px 0.8px black;
}

.btn.btnDefaultReportPost {
  background-color: rgb(217, 230, 41);
  color: #333;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 8px;
}

.btn.btnDefaultDeletePost {
  background-color: rgb(236, 59, 59);
  color: #333;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 8px;
}
