/* Posts */
.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
  margin-top: 20px;
}

.circleImgPosts {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.formPopUp{
  display: none; 
  position: fixed; 
  z-index: 1; 
  top: 2rem;
  width: 50%; 
  height: 50%;
  overflow: auto;
  background-color:"white";
}

.h4Left{
  float: left;
}
