/* Profile Page  */

.mainBackground-profile {
  position: relative;
  background: url('../../images/background1.jpg') no-repeat center center/cover;
  height: 170vh;
}

.containerProfile {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 20rem;
  background-color: #333;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-shadow: 0px 0px 12px 0.8px black;
  position: relative;
  top: 100px;
}

.profileArea {
  display: grid;
  grid-template-areas: 'top' 'about' 'posts';
  grid-gap: 1rem;
}

.profileArea .profile-top {
  grid-area: top;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px 0.8px black;
}

.profileArea .profile-top img {
  width: 250px;
}

.profileArea .profile-about {
  grid-area: about;
  text-align: center;
  box-shadow: 0px 0px 12px 0.8px black;
}

.profile-posts {
  box-shadow: 0px 0px 12px 0.8px black;
}

.profile-post-title {
  background-color: White;
}

.profileImg {
  border-radius: 50%;
}
