/* BEM Naming Convention
.block__element--modifier */

.loginPage__h1-text {
  color: blue;
}

.mainBackground-login {
  position: relative;
  background-color: #fffbdb;
  height: 150vh;
}

.textDefaultColor-SignIn {
  position: relative;
  bottom: 30px;
  color: #9046cf;
}

.btn.btnDefault-SignIn {
  position: relative;
  margin: 1.2rem;
  left: 50px;
  background-color: #adb9e3;
  color: #333;
}
