.mainBackground-editProfile {
  position: relative;
  background-color: #fffbdb;
  height: 150vh;
}

.btn.btnDefault-editProfile {
  position: relative;
  margin: 0.2rem;
  background-color: #9874e0;
  color: #333;
  top: 15px;
}

.btn.btnDelete-Account {
  background-color: rgb(231, 78, 78);
  color: #333;
  position: relative;
  margin: 0.2rem;
  top: 15px;
}

.textDefaultColor-editProfile {
  position: relative;
  bottom: 30px;
  color: #7a49db;
}

input[type='checkbox'] {
  background-color: white;
  transition: border-color 0.8s;
}
input[type='checkbox']:focus {
  border-color: lightblue;
}