.containerDetailedPosts {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #333;
  padding: 4rem;
}

.paragraphColour{
  color: whitesmoke
}


.picContainer{
  border-style: solid;
  border-color: #605b4f;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background-color: lightblue;
}
.picContent{
  max-width: 300px;
  max-height: 300px;
}

.picLeft{
  float: left;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  padding-right: 1rem;
}

.tagBar {
  display: inline-block;
  float:left;
  cursor: pointer;
}

.profileDesc{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: medium;
  
}

